<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1018317049704-65kak3dg3m8nnuehq93vmbepi3q3s59g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018317049704-65kak3dg3m8nnuehq93vmbepi3q3s59g</string>
	<key>API_KEY</key>
	<string>AIzaSyARi1lBwFvs_CINc89vvd3CAqktd2pDr0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1018317049704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>justinmac.Pop</string>
	<key>PROJECT_ID</key>
	<string>pop-34207</string>
	<key>STORAGE_BUCKET</key>
	<string>pop-34207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018317049704:ios:883a363823505cf5</string>
	<key>DATABASE_URL</key>
	<string>https://pop-34207.firebaseio.com</string>
</dict>
</plist>